*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:arial;

}

.content-fluid{
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap; 
}

.content-img{
	width:800px;
	height:400px;
	margin:auto;
	margin-top:3px;
	marker-mid:100px;
	position:relative;
	overflow:hidden;
	
}
 
.content-img img{
	width:100%;
	-webkit-transition:all 300ms;
	transition:all 300ms;
}

.content-1{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	background:rgba(0,100,200,0.5);
	-webkit-transform:rotate(-30deg);
	transform: rotate(-30deg);
	margin-left:-750px;
	-webkit-transition:all 800ms;
	transition:all 800ms;
}

.content-2{
	width: 1000px;
	height: 1000px;
	position:absolute;
	top:0;
	background:rgba(0,100,200,0.5);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	margin-left:-780px;
	-webkit-transition: all 500ms;
	transition:all 500ms;

}

.content-3{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0px;
	background:rgba(0,100,200,0.5);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	margin-left: -750px;
	margin-top: -600px;
	-webkit-transition: all 700ms;
	transition:all 700ms;
	
}

.content-4{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0px;
	background:rgba(0,100,200,0.5);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	margin-left: -750px;
	margin-top: -650px;
	-webkit-transition: all 500ms;
	transition:all 500ms;
}

.content-img:hover .content-1{
	width: 190%;
	-webkit-transition:all 800ms;
	transition:all 800ms;
}

.content-img:hover .content-2{
	width: 190%;
	-webkit-transition:all 500ms;
	transition:all 500ms;
}

.content-img:hover .content-3{
	width: 190%;
	-webkit-transition:all 700ms;
	transition:all 700ms;
}

.content-img:hover .content-4{
	width: 190%;
	-webkit-transition:all 300ms;
	transition:all 300ms;
}

.content-img:hover img{
	-webkit-transform:scale(1.5);
	transform:scale(1.5);
	-webkit-transition:all 300ms;
	transition:all 300ms;
	opacity:0.8;
}

.content-txt{
	position:absolute;
	top:0;
	width: 550px;
	padding: 90px;
	z-index: 10;
	color:whitesmoke;
	text-align: center;
	margin-top: 10px;
}

.content-txt h2{
	font-size: 50px;
	opacity: 0;
	margin-top: 0px;
	-webkit-transform: scale(0.2);
	transform:scale(0.2);
	-webkit-transition:all 300ms;
	transition:all 300ms;
}

.content-txt p{
	font-size:1px;
	margin-top:1px;
	opacity: 0;
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition: all 300ms;
	transition:all 300ms;

}

.content-img:hover h2{
	opacity: 1;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
	-webkit-transition:all 300ms;
	transition:all 300ms;
	
}

.content-img:hover p{
	opacity: 1;
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition:all 300ms;
	transition:all 300ms;
	
}











